In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
import seaborn as sns
import pickle

In [2]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
# df.info()
# df.isnull().sum()
[df['petal_length'].duplicated()]

[0      False
 1       True
 2      False
 3      False
 4       True
        ...
 145    False
 146     True
 147     True
 148     True
 149     True
 Name: petal_length, Length: 150, dtype: bool]

In [12]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [13]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [18]:
OHE_encoder=OneHotEncoder()
OHE_species=OHE_encoder.fit_transform(df[['species']])
OHE_species

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 150 stored elements and shape (150, 3)>

In [19]:
OHE_species=OHE_species.toarray()
OHE_species

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [20]:
feture_name=OHE_encoder.get_feature_names_out()

In [21]:
species_df=pd.DataFrame(OHE_species,columns=feture_name)

In [23]:
df=pd.concat([df.drop('species',axis=1),species_df],axis=1)

In [24]:
df

     sepal_length  sepal_width  ...  species_versicolor  species_virginica
0             5.1          3.5  ...                 0.0                0.0
1             4.9          3.0  ...                 0.0                0.0
2             4.7          3.2  ...                 0.0                0.0
3             4.6          3.1  ...                 0.0                0.0
4             5.0          3.6  ...                 0.0                0.0
..            ...          ...  ...                 ...                ...
145           6.7          3.0  ...                 0.0                1.0
146           6.3          2.5  ...                 0.0                1.0
147           6.5          3.0  ...                 0.0                1.0
148           6.2          3.4  ...                 0.0                1.0
149           5.9          3.0  ...                 0.0                1.0

[150 rows x 7 columns]

In [56]:
df['sepal_length'].min()

4.3

In [57]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species_setosa', 'species_versicolor', 'species_virginica'],
      dtype='object')

In [ ]:
X=df.iloc[:,:4]
y=df.iloc[:,4:]

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [28]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_test.shape

(30, 4)

In [29]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:

    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [34]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
import warnings 
warnings.filterwarnings('ignore')

In [44]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(3,activation='softmax')
])

In [45]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                320

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 3)                 99

=================================================================
Total params: 2499 (9.76 KB)
Trainable params: 2499 (9.76 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [46]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [47]:
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [48]:

log_dir="logs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [49]:
earlystopping_callbacks=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [50]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,earlystopping_callbacks]
)

Epoch 1/100
WARNING:tensorflow:From C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

4/4 [==============================] - 3s 333ms/step - loss: 0.5563 - accuracy: 0.7750 - val_loss: 0.3778 - val_accuracy: 0.9000
Epoch 2/100
4/4 [==============================] - 0s 144ms/step - loss: 0.3491 - accuracy: 0.8167 - val_loss: 0.2342 - val_accuracy: 0.8667
Epoch 3/100
4/4 [==============================] - 0s 86ms/step - loss: 0.2523 - accuracy: 0.8167 - val_loss: 0.1749 - val_accuracy: 0.9000
Epoch 4/100
4/4 [==============================] - 0s 85ms/step - loss: 0.2161 - accuracy: 0.8500 - val_loss: 0.1402 - val_accuracy: 0.9667
Epoch 5/100
4/4 [==============================] - 0s 86ms/step - loss: 0.1827 - accuracy: 0.8583 - val_loss: 0.1265 - val_accuracy: 0.9000
Epoch 6/100
4/4 [==============================] - 0s 103ms/step - loss: 0.1590 - accuracy: 0.8667 - val_loss: 0.0950 - val_accuracy: 0.9667
Epoch 7/100
4/4 [==============================] - 0s 83ms/step - loss: 0.1307 - accuracy: 0.9417 - val_loss: 0.0791 - val_accuracy: 0.9667
Epoch 8/100
4/4 [==============================] - 0s 85ms/step - loss: 0.1067 - accuracy: 0.9583 - val_loss: 0.0629 - val_accuracy: 1.0000
Epoch 9/100
4/4 [==============================] - 0s 82ms/step - loss: 0.0857 - accuracy: 0.9583 - val_loss: 0.0534 - val_accuracy: 1.0000
Epoch 10/100
4/4 [==============================] - 0s 82ms/step - loss: 0.0718 - accuracy: 0.9667 - val_loss: 0.0473 - val_accuracy: 1.0000
Epoch 11/100
4/4 [==============================] - 0s 83ms/step - loss: 0.0568 - accuracy: 0.9750 - val_loss: 0.0477 - val_accuracy: 1.0000
Epoch 12/100
4/4 [==============================] - 0s 84ms/step - loss: 0.0534 - accuracy: 0.9833 - val_loss: 0.0416 - val_accuracy: 1.0000
Epoch 13/100
4/4 [==============================] - 0s 146ms/step - loss: 0.0457 - accuracy: 0.9750 - val_loss: 0.0362 - val_accuracy: 1.0000
Epoch 14/100
4/4 [==============================] - 0s 93ms/step - loss: 0.0445 - accuracy: 0.9667 - val_loss: 0.0256 - val_accuracy: 1.0000
Epoch 15/100
4/4 [==============================] - 0s 84ms/step - loss: 0.0380 - accuracy: 0.9833 - val_loss: 0.0239 - val_accuracy: 1.0000
Epoch 16/100
4/4 [==============================] - 0s 78ms/step - loss: 0.0419 - accuracy: 0.9750 - val_loss: 0.0197 - val_accuracy: 1.0000
Epoch 17/100
4/4 [==============================] - 0s 84ms/step - loss: 0.0402 - accuracy: 0.9833 - val_loss: 0.0188 - val_accuracy: 1.0000
Epoch 18/100
4/4 [==============================] - 0s 82ms/step - loss: 0.0367 - accuracy: 0.9833 - val_loss: 0.0204 - val_accuracy: 1.0000
Epoch 19/100
4/4 [==============================] - 0s 83ms/step - loss: 0.0334 - accuracy: 0.9833 - val_loss: 0.0197 - val_accuracy: 1.0000
Epoch 20/100
4/4 [==============================] - 0s 78ms/step - loss: 0.0377 - accuracy: 0.9750 - val_loss: 0.0232 - val_accuracy: 1.0000
Epoch 21/100
4/4 [==============================] - 0s 83ms/step - loss: 0.0321 - accuracy: 0.9833 - val_loss: 0.0300 - val_accuracy: 1.0000
Epoch 22/100
4/4 [==============================] - 0s 82ms/step - loss: 0.0340 - accuracy: 0.9833 - val_loss: 0.0146 - val_accuracy: 1.0000
Epoch 23/100
4/4 [==============================] - 0s 83ms/step - loss: 0.0408 - accuracy: 0.9667 - val_loss: 0.0148 - val_accuracy: 1.0000
Epoch 24/100
4/4 [==============================] - 0s 99ms/step - loss: 0.0376 - accuracy: 0.9750 - val_loss: 0.0149 - val_accuracy: 1.0000
Epoch 25/100
4/4 [==============================] - 0s 83ms/step - loss: 0.0379 - accuracy: 0.9833 - val_loss: 0.0220 - val_accuracy: 0.9667
Epoch 26/100
4/4 [==============================] - 0s 89ms/step - loss: 0.0363 - accuracy: 0.9750 - val_loss: 0.0157 - val_accuracy: 1.0000
Epoch 27/100
4/4 [==============================] - 0s 134ms/step - loss: 0.0313 - accuracy: 0.9833 - val_loss: 0.0199 - val_accuracy: 1.0000

In [53]:
model.save('model.h5')

In [54]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species_setosa', 'species_versicolor', 'species_virginica'],
      dtype='object')

In [52]:
%load_ext tensorboard
%tensorboard --logdir logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 3560), started 0:01:21 ago. (Use '!kill 3560' to kill it.)